PORT=5000

DATABASE_URL="postgres://7a5ca42b9abc0d408f658ddb55e05dc8ebeeb4c6c9a6b317af5b02d691599d20:sk_gS173niJB-2iUR0iCxfRV@db.prisma.io:5432/postgres?sslmode=require"
BETTER_AUTH_SECRET=spCYBJZoV9emdXsfBqSd3vEo4oO1NV81

NODE_ENV='development'

BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

 ACCESS_TOKEN_SECRET=accesssecret
 REFRESH_TOKEN_SECRET=refreshsecret

EMAIL_SENDER_SMTP_USER=jhon@gmail.com
 EMAIL_SENDER_SMTP_PASS =abcd efgh ijkl mnop
 EMAIL_SENDER_SMTP_HOST=smtp.gmail.com
 EMAIL_SENDER_SMTP_PORT=465
  EMAIL_SENDER_SMTP_FROM=blog@gmail.com


 