PORT=5000

DATABASE_URL="postgres://7a5ca42b9asdfsdfbc0d408sdssdsdsf658ddb55e05dsdfsdfc8ebeeb4c6c9a6b317af5b0sdfsdf2d691599d20:sk_gS173niJB-2iUR0iCxfRV@db.prisma.io:5432/postgrdes?sslmode=require"
BETTER_AUTH_SECRET=spCYBJZoV9emdXsfasasasasasasasBqSd3vEo4oO1asasasasNV81

NODE_ENV='development'

BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

 ACCESS_TOKEN_SECRET=safsdafdsfsafdsfsf
 REFRESH_TOKEN_SECRET=sdffdsfafsfddfsdfsdfsdfsfdsfsdfsdf

EMAIL_SENDER_SMTP_USER=dev@gmail.com
 EMAIL_SENDER_SMTP_PASS =dfsf dsfa adfe fddd
 EMAIL_SENDER_SMTP_HOST=smtp.gmail.com
 EMAIL_SENDER_SMTP_PORT=465
  EMAIL_SENDER_SMTP_FROM=sdsd@gmail.com

GOOGLE_CLIENT_ID= sdfafdsssssssssssssssssss
GOOGLE_CLIENT_SECRET=fdssssssssssssssssssssssssssssss
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/callback/google
FRONTEND_URL=http://localhost:3000



 